<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>模拟 Vue.js</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="message">
        <input type="text" v-model="test">
        <div>
          message: <span v-bind="message"></span>
        </div>
        <div>
            test: <span v-bind="test"></span>
        </div>
      </div>
  <script src="./js/like-vue.js"></script>
  <script src="./js/main.js"></script>
</body>
</html>